<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" placeholder="Select gender">
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Male">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Hours</ion-label>
      <ion-select [(ngModel)]="hoursC" placeholder="Select hours">
        <ion-select-option *ngFor="let ammount of hours">{{ammount}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-select [(ngModel)]="bottlesC" placeholder="Select bottles">
        <ion-select-option *ngFor="let ammount of bottles">{{ammount}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Promilles</ion-label>
      <ion-input name="promilles" value="{{ promilles | number : '1.2-2' }}" readonly></ion-input>
    </ion-item> 
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
